.juego-card {
  background: #222;
  padding: 15px;
  border-radius: 12px;
  margin: 15px;
  transition: 0.3s;
  box-shadow: 0 0 10px #000;
}

.juego-card:hover {
  transform: scale(1.03);
  box-shadow: 0 0 15px yellow;
}

.titulo-juego {
  color: yellow;
  text-shadow: 0 0 8px yellow;
  font-size: 20px;
  margin-bottom: 8px;
}

.btn-resena {
  margin-top: 10px;
  padding: 8px 12px;
  background: #444;
  border: none;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.btn-resena:hover {
  background: yellow;
  color: black;
}
